
<button type="button" class="btn btn-primary" (click)="filterPhoto('all')">normal</button>
<button type="button" class="btn btn-primary" (click)=" filterPhoto('boats') ">boats</button>
<button type="button" class="btn btn-primary" (click)=" filterPhoto('camping') ">camping</button>
<button type="button" class="btn btn-primary" (click)=" filterPhoto('library') ">library</button>

<ul class="col" id="thumbnailsList">

      <li class="col-md-4 col-lg-3" *ngFor="let image of (apiArray )">

        <a href='{{image.webformatURL}}' >
        <img  class="img-fluid" src="{{ image.webformatURL}}" id="tn" width="310" height="170">
      </a>
      </li>

</ul>
