
<button type="button" class="btn btn-primary" (click)="filterPhoto('all')">normal</button>
<button type="button" class="btn btn-primary" (click)=" filterPhoto('boats') ">boats</button>
<button type="button" class="btn btn-primary" (click)=" filterPhoto('camping') ">camping</button>
<button type="button" class="btn btn-primary" (click)=" filterPhoto('library') ">library</button>

<ul class="col" id="thumbnailsList">

      <li *ngFor="let image of (apiArray )">

        <a href='{{image.webformatURL}}' >
        <img src="{{ image.webformatURL}}" id="tn" width="200" height="160">
      </a>
      </li>

</ul>
